*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    cursor: pointer;
    color: #edf0f1;
    font-size: 20px;
}

li,a,button{
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #edf0f1;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    margin: 0 20%;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
}

.nav_links li a{
    transition: all 0.4s ease 0s;
    font-weight: 800;
}

.nav_links li a:hover{
    padding-bottom: 5%;
    color: #0088a9;
    border-bottom: 5px solid #0088a9;
}

.active{
    color: #0088a9;
}

main{
    margin-top: 5%;
}

.main-title{
    text-align: center;
    color: #fff;
    margin-bottom: 5%;
}

.container{
    text-align: center;
    color: #fff;
}

.formData *{
    margin: 1%;
}

.formData input{
    background-color: #ffffff;
}

#output{
    margin-top: 5%;
    text-align: center;
    color: #ffffff;
}